<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary">smart curriculum</a>
        <div>
            <a class="nav-link d-inline" href="/">Home</a>
            <a class="nav-link d-inline" href="/generator">Generator</a>
            <a class="nav-link d-inline" href="/about">About</a>
        </div>
    </div>
</nav>

<section class="hero text-white">
    <div class="container">
        <h2>About smart curriculum</h2>
        <p>
            smart curriculum is an AI powered curriculum generator platform 
            that transforms skills into structured semester wise syllabus.
        </p>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card feature-card">
                    <h5>Guided Path</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card feature-card">
                    <h5>Target mode</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card feature-card">
                    <h5>Organised curriculum </h5>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>