body {
    font-family: Arial;
    margin: 0;
    background-color: #2c1aa1;
}

header {
    background: #d9080c;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #0077cc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}